{% extends 'base.html' %}
{% block head %}
	<title>Studentbook</title>
{% endblock %}
{% block body %}
<br><br>
<div class="container">
	<div class="row">
		<div class="col-sm">
		</div>
			<div class="col-sm">
				<div class="row">
						<div class="d-flex justify-content-center">
							<h1>Quiz</h1>
						</div>
						<button type="button" class="btn btn-secondary btn-lg btn-block">Start</button>
						<button type="button" class="btn btn-secondary btn-lg btn-block">Zarządzaj</button>
						<button type="button" class="btn btn-secondary btn-lg btn-block">Statystyki</button>
						</div>
		  			</div>
				<div class="col-sm">
			</div>
		</div>
		<br><br>
	</div>


{% endblock %}