{% extends 'base.html' %}

{% block head %}
	<title>{{ group.name }}</title>
	<style>
	.glyphicon { margin-left: 20px; float: right;};
	</style>
{% endblock %}
{% block return %}{% url 'groups' %}{% endblock %}
{% block body %}
<br><br>

<div class="container">
  <div class="modal" id="exampleModalLong" tabindex="-1" aria-labelledby="#exampleModalLong" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Dodaj now quiz!</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form method="post">
        <div class="modal-body">
          {% csrf_token %}
          {{form.as_p}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">zamknij</button>
          <input type="submit" class="btn btn-primary">
        </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="container">
    <div class="row justify-content-md-center">
          <h2>
            {{ group.name }}
          </h2>
  </div>
</div>

<div class="container">
  <div class="row justify-content-md-center">
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
      <button class="btn btn-secondary" type="button" onclick="show('id1');">Quizes</button>
      <button class="btn btn-secondary" type="button" onclick="show('id2');">Events</button>
      <button class="btn btn-secondary" type="button" onclick="show('id3');">Notes</button>
    </div>
  </div>
</div>




<div class="container">
  <br>
  <div id="id1">
    <div class="col-12">
      <div class="list-group-item text-white bg-dark">
        <div class="row justify-content-md-center">
          Wszystkie Quizy
        </div>
      </div>
      {% for quize in quizes %}
        <button type="button" onClick="location.href='{{quize.reverse_url}}'" class="list-group-item list-group-item-action">{{quize.name}}</button>
      {% endfor %}
      <button type="button" data-toggle="modal" data-target="#exampleModalLong" class="list-group-item list-group-item-action btn-primary">---------------------------------------------<span class="glyphicon glyphicon-plus"></span> </button>
    </div>
  </div>

  <div id="id2"  style="display:none">
    <div class="col-12">
      <div class="list-group-item text-white bg-dark">
        <div class="row justify-content-md-center">
          Wszystkie Wydarzenia
        </div>
      </div>
    </div>
  </div>

  <div id="id3"  style="display:none">
    <div class="col-12">
      <div class="list-group-item text-white bg-dark">
        <div class="row justify-content-md-center">
          Wszystkie Notatki
        </div>
      </div>
    </div>
  </div>

</div>

<script type="text/javascript">
function show(elementId) {
 document.getElementById("id1").style.display="none";
 document.getElementById("id2").style.display="none";
 document.getElementById("id3").style.display="none";
 document.getElementById(elementId).style.display="block";
}
</script>


{% endblock %}
