{% extends 'base.html' %}

{% block head %}
	<title>Studentbook</title>
{% endblock %}


{% block body %}

<div class="container">
  <br>
  <div class="col-12">
    <div class="list-group-item text-white bg-dark">
      <div class="row justify-content-md-center">
        Nazwa Quiza
      </div>
    </div>
  </div>

  <div class="container">
    <br>
    <div class="container">
      <div class="card">
        <div class="card-body bg-secondary">
          <div id="query" class="row justify-content-md-center text-white">
          Pytanie
          </div>
        </div>
      </div>
      <div class="container">

        <div class="col">
          <div class="card">
            <div class="card-body">
              <div id="answer" class="row justify-content-md-center">
              odpowiedz
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
  
</script>




{% endblock %}
